@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: oklch(98.5% 0.002 247.839);
  --color-primary: oklch(0.75 0.25 30);
  --color-secondary: oklch(0.6 0.3 25);
  --color-accent: oklch(0.9 0.4 50);

  --color-text: oklch(0.2 0.1 20);
  --color-text-contrast: oklch(0.95 0.05 200);
  --color-border: oklch(0% 0 0 / 0.2);
  --shadow-color: oklch(0.2 0.1 20 / 0.5);
}
  
@layer base {
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--color-background);
    color: var(--color-text);
    @apply items-center justify-center min-h-screen;
  }
}

@layer components {
  /* Navbar */
  .Nav {
    @apply flex items-center justify-between p-4 mb-4 border-b border-[var(--color-border)] shadow-md bg-[var(--color-background)];
  }
  .Navbar {
    @apply flex items-center justify-between w-full;
  }
  .Nav-Brand {
    @apply flex items-center cursor-pointer text-[var(--color-accent)];
  }
  .Nav-Logo {
    @apply mr-2;
  }
  .Nav-Title {
    @apply text-xl font-bold text-[var(--color-primary)];
  }
  .Nav-Links {
    @apply flex space-x-8;
  }
  .Nav-Link {
    @apply transition-colors duration-100 text-[var(--color-primary)];
  }
  .Nav-Link:hover {
    @apply text-[var(--color-secondary)];
  }

  /* Footer */
  .footer {
    @apply flex justify-center sticky bottom-0 p-4 mt-4 border-t border-[var(--color-border)] bg-[var(--color-background)];
  }
  .footer-links {
    @apply flex mx-auto space-x-8;
  }
  .footer-link {
    @apply transition-colors duration-100 text-[var(--color-primary)];
  }
  .footer-link:hover {
    @apply text-[var(--color-secondary)];
  }

  /* Card */
  .card {
    @apply bg-white min-w-[450px] mx-auto rounded-md shadow-md p-4 border border-[var(--color-border)];
  }
  .card-title {
    @apply text-lg font-semibold mb-2 text-[var(--color-primary)];
  }
  .card-content {
    @apply text-[var(--color-text)];
  }
  .card-register, .card-login {
    @apply bg-white w-[450px] mx-auto rounded-md shadow-md p-4 border border-[var(--color-border)];
  }

  /* Form */
  /* Button */
  .btn {
    @apply px-2 py-2 mt-1 bg-[var(--color-primary)] text-white rounded-md shadow-md transition-colors duration-100;
  }
  .btn:hover {
    @apply bg-[var(--color-secondary)];
  }
  .btn-auth {
    @apply w-full px-2 py-2 mt-1 bg-[var(--color-primary)] text-[var(--color-text-contrast)] rounded-md shadow-md transition-colors duration-100;
  }
  .btn-auth:hover {
    @apply bg-[var(--color-secondary)];
  }

  /* Input */
  .input {
    @apply w-full px-1 py-1 mt-1 border border-[var(--color-border)] rounded-md focus:outline-none focus:ring-1 focus:ring-[var(--color-accent)];
  }
}


